<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fidelize.geofence">
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<application>
		<service android:name="com.fidelize.geofence.GeofenceTransitionsIntentService"/>
		<service android:name="com.fidelize.geofence.AppLauncherService"/>
	</application>
</manifest>
